<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="2 minutes">
<!-- 
	<include resource="org/springframework/boot/logging/logback/default.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} - %-5level - [%-20thread] - %-50logger{50} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="cl.fapp" level="DEBUG" />
	<logger name="org.apache.axis2" level="WARN" />
	<logger name="reactor.netty.http.client" level="DEBUG" />
	<logger name="org.apache.http" level="debug"/>
    <logger name="org.springframework.cache" level="trace" />
    
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date - %highlight(%-5level) - %green(%logger{5}@[%-4.30thread]) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/fapp-log-messages.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>fapp-log-messages.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="fapp-messages" level="info" additivity="true">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="cl.fapp" level="DEBUG" />
	<logger name="org.apache.axis2" level="WARN" />
	<logger name="reactor.netty.http.client" level="INFO" />
	<logger name="org.apache.http" level="INFO"/>
    <logger name="org.springframework.cache" level="INFO" />
    
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
